<div class="form-popup" id="setPageForm" [hidden]="pageServices.isHidden">
  <form class="form-container">
    <label for="height">Yükseklik</label>
    <input
      type="text"
      placeholder="Cm Cinsinden Giriniz."
      name="height"
      [(ngModel)]="pageServices._pageHeight"
    />

    <label for="width">Genislik</label>
    <input
      type="text"
      placeholder="Cm Cinsinden Giriniz."
      name="width"
      [(ngModel)]="pageServices._pageWidth"
    />

    <div>
      <label>Arka Plan Rengi</label><br />
      <input
        type="color"
        name="bgcolor"
        id="bgcolor"
        [(ngModel)]="pageServices._pageColor"
      /><br />
    </div>

    <button
      type="button"
      class="btn col-xs-12"
      (click)="setPageProp()"
      (click)="pageServices.getPageSizePx()"
    >
      Olustur
    </button>
    <button
      type="button"
      class="btn cancel col-xs-12"
      (click)="pageServices.isHidden = true"
    >
      İptal
    </button>
  </form>
</div>
