<div class="container">
  <div class="col-md-2 card-container no-print">
    <!--#region Main Buttons-->
    <div class="card row">
      <div class="card2">
        <button class="open-button" (click)="addElement()">Add Element</button>
        <button class="open-button" (click)="import()">Import</button>
        <button class="open-button" (click)="export()">Export</button>
        <button class="open-button" (click)="jsPdf()">Kaydet</button>
      </div>
    </div>
    <!--#endregion-->
    <!--#region Page Prop-->
    <div class="card row">
      <div class="card2">
        <label class="cardspan open-button" for="height"
          >Sayfa Yüksekligi : {{ _heightP }}</label
        >
        <label class="cardspan open-button" for="width"
          >Sayfa Genisligi : {{ _widthP }}</label
        >
        <label class="cardspan open-button" for="width"
          >Sayfa Rengi : {{ _bgColorP }}</label
        >
        <button class="open-button" (click)="openPageForm()">Yeni Sayfa</button>
      </div>
    </div>
    <!--#endregion -->
    <!--#region Page Settings Form-->
    <div class="form-popup" id="setPageForm" [hidden]="isHiddenP">
      <form class="form-container">
        <label for="height">Yükseklik</label>
        <input
          type="text"
          placeholder="Cm Cinsinden Giriniz."
          name="height"
          [(ngModel)]="_heightP"
        />

        <label for="width">Genislik</label>
        <input
          type="text"
          placeholder="Cm Cinsinden Giriniz."
          name="width"
          [(ngModel)]="_widthP"
        />

        <div>
          <label>Arka Plan Rengi</label><br />
          <input
            type="color"
            name="bgcolor"
            id="bgcolor"
            [(ngModel)]="_bgColorP"
          /><br />
        </div>

        <button type="button" class="btn col-xs-12" (click)="setPageProp()">
          Olustur
        </button>
        <button
          type="button"
          class="btn cancel col-xs-12"
          (click)="closePageForm()"
        >
          İptal
        </button>
      </form>
    </div>
    <!--#endregion -->
    <!--#region Element Prop-->
    <div class="card row">
      <div class="card2">
        <label class="cardspan open-button" for="id">ID : {{ _id }}</label>
        <label class="cardspan open-button" for="span"
          >Icerik : {{ _span }}</label
        >
        <label class="cardspan open-button" for="bg"
          >Background : {{ _bgColorD }}<br />{{ _bgUrlD }}</label
        >
        <label class="cardspan open-button" for="layer"
          >Katman : {{ _layer }}</label
        >
        <label class="cardspan open-button" for="height"
          >Yükseklik : {{ _heightD }}</label
        >
        <label class="cardspan open-button" for="width"
          >Genislik : {{ _widthD }}</label
        >
        <label class="cardspan open-button" for="tip">Tip : {{ _tip }}</label>
        <button class="open-button" (click)="openDivForm()">Duzenle</button>
        <button class="open-button" (click)="removeElement()">Kaldir</button>
      </div>
    </div>
    <!--#endregion -->
    <!--#region Element Settings Form-->
    <div class="form-popup" id="setDivForm" [hidden]="isHiddenD">
      <form class="form-container">
        <label for="span">İçerik</label>
        <input
          type="text"
          placeholder="Element içeriğini giriniz."
          name="span"
          [(ngModel)]="_span"
        />

        <label for="punto">Yazı Boyutu</label>
        <input type="number" name="punto" [(ngModel)]="_punto" />

        <div style="text-align: center">
          <div class="col-md-4">
            <label for="italic" style="font-style: italic; font-weight: lighter"
              >İtalik</label
            ><br />
            <input [(ngModel)]="_isI" type="checkbox" name="italic" />
          </div>

          <div class="col-md-4">
            <label for="bold">Kalın</label><br />
            <input [(ngModel)]="_isB" type="checkbox" name="bold" />
          </div>

          <div class="col-md-4">
            <label
              for="underline"
              style="text-decoration: underline; font-weight: lighter"
              >Çizili</label
            ><br />
            <input [(ngModel)]="_isUL" type="checkbox" name="underline" />
          </div>
        </div>

        <label for="font">Yazı Tipi</label><br />
        <mat-form-field>
          <mat-label>Seçiniz</mat-label>
          <mat-select [(ngModel)]="_font" name="font">
            <mat-option
              *ngFor="let font of fonts"
              [value]="font.value"
              [style.font-family]="font.value"
              name="font"
            >
              {{ font.viewValue }}
            </mat-option>
          </mat-select> </mat-form-field
        ><br />

        <label for="spanloc">İçerik Konumu</label><br />
        <mat-form-field>
          <mat-label>Seçiniz</mat-label>
          <mat-select [(ngModel)]="_spanLoc" name="spanloc">
            <mat-option
              *ngFor="let loc of locs"
              [value]="loc.value"
              name="spanloc"
            >
              {{ loc.viewValue }}
            </mat-option>
          </mat-select> </mat-form-field
        ><br />

        <label for="tip">Element Türü</label><br />
        <mat-form-field>
          <mat-label>Seçiniz</mat-label>
          <mat-select [(ngModel)]="_tip" name="tip">
            <mat-option *ngFor="let tip of tips" [value]="tip.value" name="tip">
              {{ tip.viewValue }}
            </mat-option>
          </mat-select> </mat-form-field
        ><br />

        <label for="bg">Arka Plan</label><br />
        <mat-form-field>
          <mat-label>Seçiniz</mat-label>
          <mat-select
            #bg
            [(value)]="_bg"
            name="bg"
            (valueChange)="changeBgType(bg.value)"
          >
            <mat-option *ngFor="let bg of bgs" [value]="bg.value" name="bg">
              {{ bg.viewValue }}
            </mat-option>
          </mat-select> </mat-form-field
        ><br />

        <div [hidden]="isHiddenID">
          <label for="bgurl">Arka Plan Resmi</label>
          <input
            type="url"
            placeholder="Arka Plan URL'sini Ekleyiniz."
            name="bgurl"
            [(ngModel)]="_bgUrlD"
          />
        </div>

        <div [hidden]="isHiddenCD">
          <label>Arka Plan Rengi</label><br />
          <input
            type="color"
            name="bgcolor"
            id="bgcolor"
            [(ngModel)]="_bgColorD"
          /><br />
        </div>

        <label for="layer">Element Katmanı : {{ _layer }}</label
        ><br />
        <button type="button" class="btn col-xs-6" (click)="layerUp()">
          +
        </button>
        <button type="button" class="btn cancel col-xs-6" (click)="layerDown()">
          -</button
        ><br />

        <button
          type="button"
          class="btn col-xs-12"
          (click)="setDivProp($event)"
        >
          Düzenle</button
        ><br />
        <button
          type="button"
          class="btn cancel col-xs-12"
          (click)="closeDivForm()"
        >
          İptal
        </button>
      </form>
    </div>
    <!--#endregion -->
  </div>
  <div class="col-md-10 no-padding example-container">
    <div
      #box
      id="example-boundary"
      class="example-boundary"
      [style.--heightpage.cm]="page.heightP"
      [style.--widthpage.cm]="page.widthP"
      [style.background-color]="page.bgColorP"
      [style.background-image]="'url(assets/grid.png)'"
    >
      <!--#region Add Element-->
      <div
        #elements
        [id]="element.id"
        (mousedown)="getDivProp(element, i)"
        (mouseup)="getDivProp(element, i)"
        (contextmenu)="openDivForm()"
        *ngFor="let element of elements; let i = index"
        class="example-box"
        cdkDragBoundary=".example-boundary"
        cdkDrag
        [style.z-index]="element.layer"
        [style.background]="element.bgColorD"
        [style.transform]="
          'translate(' + element.left + 'px, ' + element.top + 'px)'
        "
        [style.width.px]="element.widthD"
        [style.height.px]="element.heightD"
      >
        <!-- [style.background-image]="element.bgUrlD" -->
        <img id="image" [src]="element.bgUrlD" />
        <span
          #span
          id="span"
          [style]="element.spanLoc"
          [style.font-size.px]="element.punto"
          [style.font-family]="element.font"
          [style.font-weight]="element.fontWeight"
          [style.font-style]="element.fontStyle"
          [style.top.px]="element.spanTop"
          [style.left.px]="element.spanLeft"
          [style.right.px]="element.spanRight"
          [style.bottom.px]="element.spanBottom"
          [style.text-decoration]="element.textDecoration"
          >{{ element.span }}</span
        >
        <div class="example-handle" cdkDragHandle></div>
      </div>
      <!--#endregion -->
    </div>
  </div>
</div>
