/*#region Drag&Drop Element CSS*/

.example-box {
  position: absolute;
  resize: both;
  overflow: hidden;
  display: inline-flex;
  max-height: var(--heightpage);
  max-width: var(--widthpage);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.example-box::-webkit-resizer {
  display: none;
}

.example-handle {
  cursor: move;
  width: inherit;
  height: inherit;
  position: fixed;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/*#endregion Drag&Drop Element CSS*/

#span {
  position: absolute;
}
