<div
  #elements
  [id]="element.id"
  (mousedown)="getElementProp(element, i)"
  (mouseup)="getElementProp(element, i)"
  (contextmenu)="elementFormComponent.openElementForm()"
  *ngFor="let element of elements; let i = index"
  class="example-box"
  cdkDragBoundary=".example-boundary"
  cdkDrag
  [style.z-index]="element.layer"
  [style.background]="element.bgColor"
  [style.transform]="'translate(' + element.left + 'px, ' + element.top + 'px)'"
  [style.width.px]="element.width"
  [style.height.px]="element.height"
>
  <img id="image" [src]="element.bgUrl" />
  <span
    #span
    id="span"
    [style]="element.textLoc"
    [style.font-size.px]="element.punto"
    [style.font-family]="element.font"
    [style.font-weight]="element.textWeight"
    [style.font-style]="element.textStyle"
    [style.top.px]="element.textTop"
    [style.left.px]="element.textLeft"
    [style.right.px]="element.textRight"
    [style.bottom.px]="element.textBottom"
    [style.text-decoration]="element.textDecor"
    [style.color]="element.textColor"
    >{{ element.text }}</span
  >
  <div class="example-handle" cdkDragHandle></div>
</div>
