<div class="container">
  <div class="col-md-2 card-container">
    <div class="card row">
      <div class="card2">
        <app-export></app-export>
        <app-import></app-import>
        <app-to-pdf></app-to-pdf>
        <app-web-api></app-web-api>
      </div>
    </div>
    <div class="card row">
      <div class="card2">
        <app-page-card></app-page-card>
      </div>
    </div>
    <div class="card row">
      <div class="card2">
        <app-element-card></app-element-card>
      </div>
    </div>
    <app-page-form style="width: inherit"></app-page-form>
    <app-element-form style="width: inherit"></app-element-form>
  </div>
  <div class="col-md-10 no-padding example-container">
    <app-page></app-page>
  </div>
</div>
