<button class="open-button" (click)="addElement()">
  Add Element
</button>
<label class="cardspan open-button" for="id">ID : {{ elmServices._id }}</label>
<label class="cardspan open-button" for="span"
  >Icerik : {{ elmServices._text }}</label
>
<label class="cardspan open-button" for="bg"
  >Background : {{ elmServices._bgColor }}<br />{{ elmServices._bgUrl }}</label
>
<label class="cardspan open-button" for="layer"
  >Katman : {{ elmServices._layer }}</label
>
<label class="cardspan open-button" for="height"
  >Yükseklik : {{ elmServices._height }}</label
>
<label class="cardspan open-button" for="width"
  >Genislik : {{ elmServices._width }}</label
>
<label class="cardspan open-button" for="tip"
  >Tip : {{ elmServices._tip }}</label
>
<button class="open-button" (click)="openElmForm()">
  Duzenle
</button>
<button class="open-button" (click)="removeElement()">
  Kaldir
</button>
